@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #2B2B2B;
  --color-dark-alt: #3B3B3B;
  --color-light: #FFFFFF;
  --color-accent: #A259FF;
  --color-gray: #858584;
  --border: 2px solid var(--color-accent);
  --border-radius: 20px;
  --shadow: 0 5px 0 0 var(--color-dark);
  --font-family-base: "Work Sans", sans-serif;
  --container-width: 1050px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;
  --input-height: 59px;
  --button-height: 60px;
  --transition-duration: 0.2s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 50px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 30px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .visible-tablet {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 2.0952380952vw, 22px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(24px, 6.380952381vw, 67px);
}

h2, .h2 {
  font-size: clamp(28px, 3.619047619vw, 38px);
}

h3, .h3 {
  font-size: clamp(26px, 2.8571428571vw, 30px);
}

h4, .h4 {
  font-size: clamp(18px, 1.9047619048vw, 20px);
}

.header {
  padding-inline: 50px;
  padding-block: 35px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header__logo {
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .header__logo {
    max-width: 180px;
  }
}
.header__right {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__right__menu-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__right__button img {
  margin-right: 10px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 30px;
  font-size: 16px;
  color: var(--color-light);
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  border: var(--border);
  cursor: pointer;
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-light);
    background-color: transparent;
    border: var(--border);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-light);
    background-color: transparent;
    border: var(--border);
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.burger-button span {
  width: 18px;
  height: 2px;
  background-color: var(--color-light);
  margin-top: 5px;
  border-radius: 10px;
}

.section {
  padding-block: var(--section-padding-y);
}

.hero {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .hero {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .hero__title {
    order: -3;
  }
}
.hero__main {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 510px;
  row-gap: 20px;
}
@media (max-width: 767px) {
  .hero__main {
    display: contents;
  }
}
.hero__description {
  font-size: clamp(16px, 2.0952380952vw, 22px);
}
@media (max-width: 767px) {
  .hero__description {
    order: -2;
  }
}
.hero__button {
  padding-inline: 50px;
}
.hero__button-img {
  margin-right: 5px;
}
.hero__list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono";
  font-size: clamp(22px, 2.6666666667vw, 28px);
  font-weight: 700;
  gap: 20px;
}
.hero__list span {
  font-family: "Work Sans";
  font-size: clamp(16px, 2.0952380952vw, 22px);
  font-weight: 400;
}
.hero__poster {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
  background: var(--color-dark-alt);
  gap: 20px;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .hero__poster {
    order: -1;
  }
}
.hero__poster-desc {
  margin-left: 20px;
  font-size: 22;
  font-weight: 600;
}
.hero__poster-user {
  display: flex;
  gap: 15px;
  margin-left: 20px;
}
.hero__poster-user-avatar {
  border-radius: 50%;
}
.hero-image {
  height: auto;
}
@media (max-width: 767px) {
  .hero-image {
    width: 100%;
  }
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.section__header-p {
  font-size: clamp(16px, 2.0952380952vw, 22px);
  margin-top: 10px;
}
.section__header-butoon {
  background: transparent;
}

.collection {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .collection {
    justify-content: space-around;
  }
}
.collection__item {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  gap: 20px;
}
.collection__img {
  border-radius: 20px;
}
.collection__gal {
  display: flex;
  justify-content: space-between;
}
.collection__gal-img {
  border-radius: 22px;
}
.collection__gal-box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-accent);
  border-radius: 22px;
}
.collection__name {
  font-size: 22px;
  font-family: "Work Sans";
  font-weight: 600;
}
.collection__user {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.collection__user-img {
  border-radius: 50%;
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 20px;
}
@media (max-width: 767px) {
  .grid {
    gap: 30px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--4 {
    --gridColumns: 2;
  }
}
@media (max-width: 767px) {
  .grid--4 {
    --gridColumns: 1;
  }
}

.creators-card {
  position: relative;
  padding-block: 20px;
  background: var(--color-dark-alt);
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}
@media (max-width: 1023px) {
  .creators-card {
    flex-direction: row;
  }
}
.creators-card__number {
  background: var(--color-dark);
  color: var(--color-gray);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 7%;
  left: 7%;
  font-family: "Space Mono";
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.creators-card__avatar {
  border-radius: 50%;
}
.creators-card__desc {
  font-family: "Space Mono";
  font-size: 22px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.creators-card__desc p {
  font-size: 16px;
  font-weight: 400;
}
.creators-card__desc span {
  font-family: "Work Sans";
  color: var(--color-gray);
}/*# sourceMappingURL=styles.css.map */